<footer class="pt-10 text-white pb-4">
    <div
        class="w-full flex justify-between items-center p-4 max-w-xl mx-auto md:p-8"
    >
        <a href="/">
            <img
                class="w-24 drop-shadow drop-shadow-black/30"
                src="./logo-a.svg"
                alt="logo ibai"
            /></a
        >

        <nav>
            <ul class="flex justify-between items-center">
                <li>
                    <a
                        class="hover:underline hover:text-yellow-500 transition me-4 md:me-6"
                        href="/privacidad">Privacidad</a
                    >
                </li>
                <li>
                    <a
                        class="hover:underline hover:text-yellow-500 transition me-4 md:me-6"
                        href="/aviso-legal">Aviso Legal</a
                    >
                </li>
                <li>
                    <a
                        class="hover:underline hover:text-yellow-500 transition me-4 md:me-6"
                        href="/politica-de-cookies">Politica de Cookies</a
                    >
                </li>
            </ul>
        </nav>
    </div>
    <div class="text-center">
        <small class="opacity-80"
            >@ 2025 Yesid Vanegas. - <a
                class="hover:underline transition-all duration-150"
                href="mailto:yesidvanegas68@gmail.com"
                >yesidvanegas68@gmail.com</a
            >
        </small>
    </div>
</footer>
