<main
  class="max-w-4xl mx-auto flex items-center justify-center px-4 py-20 flex-col gap-10"
>
  <p class="text-xl text-white/80 text-center text-balance mb-10">
    Listos para celebrar las Navidades juntos de nuevo? Descubre la nueva
    edición de Big Ibai y mucho mas próximamente.
  </p>
  <h1 class="text-5xl font-normal text-white text-center">
    Quieres que te avisemos?
  </h1>
  <form>
    <input type="email" required placeholder="hi@yesid.dev" />
    <button type="submit">Enviar</button>
  </form>
</main>
